body {
  margin: 0px;
}

.card {
  width: 100%;
  transition: transform 1s;
  perspective: 1000px;
  transform-style: preserve-3d;
  background-color: white;
  border-radius: 50%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.front_face,
.back_face {
  position: absolute;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

.front_face {
  transform: rotateY(180deg);
}

.easy {
  grid-template-columns: repeat(3, 1fr);
}
.medium {
  grid-template-columns: repeat(4, 1fr);
}
.hard {
  grid-template-columns: repeat(6, 1fr);
}

#easyDifficulty.active {
  background-color: oklch(72.3% 0.219 149.579);
  color: white;
}

#medDifficulty.active {
  background-color: oklch(62.3% 0.214 259.815);
  color: white;
}

#hardDifficulty.active {
  background-color: oklch(63.7% 0.237 25.331);
  color: white;
}
